@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  margin: 0;
  padding: 0;

    overflow-x: hidden;
    overflow-y: hidden;
    color: #ebe9e9;
    font-family: 'Roboto', sans-serif;
}


body, p, html, ul, li, div, span {
    font-family: 'Roboto', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #1b1c1f;

}

a:link {
    color: #bbb9b9;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #bbb9b9;
}

/* mouse over link */
a:hover {
    color: #d6d4d4;

}

/* selected link */
a:active {
    color: #ebe9e9;
}



.spaces-list {
    width:80px;
    background: #1f1f1f;
    height: 100vh;
    padding-left: 0;
    margin: 0;
    overflow-y: scroll;
    float: left;

}

.spaces-list::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.spaces-list::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.spaces-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;


}

.spaces-list li {
    list-style-type: none;
    padding-bottom: 15px;
    text-align: center;
}

.spaces-list .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ab1f00;
    text-align: center;
    display: inline-block;
}

.spaces-list .icon span {
    line-height: 2;
    font-size: 30px;
    display: inline-block;

}

.spaces-list span {
    text-align: center;
    padding-left: 0px;
}

.spaces-list .add {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px dashed #4f4f4f;
    color: #4f4f4f;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
}

.spaces-list hr  {
    width: 50%;
    color: #2D2D2D;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #8a8a8a;

}

.spaces-list .add span {
    line-height: 2;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}


.channel-container {
    width: 300px;
    height: 100vh;
    padding-left: 0;
    margin: 0;
    padding-top: 0;
    background: #2D2D2D;
    float: left;

}

.channel-container .active {
    font-weight: bold;
    background: #3b424e;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    color: #fff;
    display: block;

}



.channel-container a {
    padding:10px;
    width: 100%;
    display: block;
}

.channel-container a:hover {
    background: rgba(59, 66, 78, 0.63);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100%;
    color: #fff;
    display: block;

}
.channel-container ul {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.channel-container li {
    padding-bottom: 10px;
    font-size: 1.3em;
    margin-left: 10px;
    width: calc(100% - 40px);
    display: block;

}

.convo-container {
    width: calc(100vw - 380px);
    background: #36393F;
    height: 100vh;
    float: left;
}


/* width */
.messages-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.messages-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #4c4c4c;
    border-radius: 10px;
}

/* Handle */
.messages-container::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}

/* Handle on hover */
.messages-container::-webkit-scrollbar-thumb:hover {
    background: #797979;
    border-radius: 10px;
}


.messages-container .child-container {

}

.respond-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 170px);


}


.respond-container hr {
    width: calc(100% - 286px);
    display: block;
    height: 1px;
    border: 0;
    margin-left: 29px;
    border-top: 1px solid #47464e;
    text-align: left;
    float: left;
}




.respond-container input {
    width: calc(100% - 280px);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: rgba(65, 74, 87, 0.53);
    border-color: transparent;
    color: #fff;

}

input::placeholder {
    color: #bbb9b9;
}


.space-header, .channel-header {
    padding: 10px;
    background: #363636;
    border-bottom: 1px solid #1b1b1b;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.channel-header {
    background: #36393F;
}

/*Multiple full*/
.messages-container {
    padding: 0;
    width: calc(100vw - 405px);
    height: calc(100vh - 142px);
    overflow-y: scroll;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
}

.message-container {
    float: left;
}

.messages-container .avatar {
 width:  60px;
    height: 60px;
    border: 1px solid #3d3b4c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #bbb9b9;
    float: left;
    margin-right: 20px;
}

.messages-container .message {
    margin: 10px;
}

.messages-container .message .username {
    font-weight: bold;
    color: #ffffff;
    float: left;
}

.messages-container .message .time {
padding-left: 5px;
    color: #b4b4b4;
    font-size: 0.8em;
}

.messages-container .message .content {
   padding-top: 10px;
    padding-bottom: 20px;
}

.messages-container .message hr{
    width: calc(100% - 20px);
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #47464e;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    float: left;

}


.authedUser-container {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 290px;
    background: #202225;
    padding-top:10px;
    padding-left: 10px;

}

.authedUser-container .username {
    padding-left: 10px;
    line-height: 2.1;
}

.authedUser-container .action {
    float: right;
    padding-right: 10px;
}


.authedUser-container .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e65252;
    background: #e65252;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 2.1;

}

.authedUser-container .status {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #2D2D2D;
    background: #63e640;
    width: 14px;
    height: 14px;
    float: left;
    position: absolute;
    top: 32px;
    left: 30px;
}

.modal-container {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    position: fixed; /* Stay in place */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}

.space-add-container {
    width: 500px;
    height: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #f0eded;
    padding: 20px;
    z-index: 10; /* Sit on top */
position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.space-add-btn {
    border-radius: 5px;
    background: #6274ed;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.space-back-btn {
    border: transparent;
    background: transparent;
    font-size: 1.1em;
    cursor: pointer;
    color: #969696;
    padding: 15px;
}


.space-create-page label {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: 100%;
}

.space-create-page input {
    background: transparent;
    border: transparent;
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 2px solid #a3a9ed;
    float: left;
    width: calc(100% - 20px);
    margin-bottom: 5px;
}

.space-create-page .nav {
    padding-top: 20px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container form {
    max-width: 400px;
    border: 1px solid #2D2D2D;
    border-radius: 4px;
    padding: 20px;
}

.login-container p {
    font-weight: bold;
}

.login-container label {
float: left;
    width: 100%;
    margin: 5px;
}

.login-container input {
    float: left;
    width: calc(100% - 20px);
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background: rgba(65, 74, 87, 0.53);
    border-color: transparent;
    color: #fff;

}


.login-container button {
margin: 5px;
    border-radius: 5px;
    background: #6274ed;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}